@charset "UTF-8";
/* CSS Document */

/*Styles Created by: Brandon Cardone and Card One Concepts
http://www.cardoneconcepts.com*/

/* Styles Added by Eli Silverman */
.nyssswaForm {border:1px dashed gray;padding:12px;}
#newOrRenew {}
#renewAccident {font-size:9pt;}
#newMemberForm {font-family:Verdana, Helvetica, Arial, serif;border:1px dashed gray;padding:12px;display: none;}
#newMemberForm label {font-style: italic;font-size:9pt;}

#renewalEmail {width:475px;height:200px;font-size:9pt;margin-bottom:20px;}
.ajaxLoader {width:100%;text-align: center;display:none;}
#validationMsg {width:450px;display: none;}
#renewalError {color:red;display:none;}

label {float:left;clear:both;margin-bottom:5px;}
label.error { float: none; color: red;vertical-align: top; }
input.error {border: 2px solid red;background:#FFFFD5;}
input[type=radio].error{color:red;}
#errorDiv {font-size:10pt;color:red;display: none;}
select.error {
	border: 2px solid red;
	background-color: #FFFFD5;
	margin: 0px;
	color: red;
}

input, select {margin-right:5px;}
input[type=text] {padding:2px 2px;font-size:11pt;color:#444;}
input[type=radio] {margin:5px 0 0 25px;}
.formLabel {float:left;clear:both;font-size:9pt;font-weight:bold;line-height:normal;margin:5px 0px;}

#membershipLabel {clear:both;width:100%;}

.labelRow span {float:left;font-size:9pt;}
#fnameLabel {width:222px;}
#cityLabel {width:222px;}
#stateLabel {width:123px;}
#zipcodeLabel {width:50px;}
#phoneLabel {margin:4px 0px;}
#zipcodeInput {clear:right;}

#finishTxt {font-size:10pt;font-weight:normal !important;}
#recaptcha {float;left;}
#recaptchaTxt {/* display:none; */line-height: 20px;}
#paypalButton {text-size:10pt;}

#submitBtn, button, .button {font-size:12pt;margin:10px 0px;cursor:pointer;background: #004B71;border: none;color: white;padding: 10px 12px;}
#submitBtn {float:left;}
#submitBtn:hover, button:hover, .button:hover {background:#006CA3;}

#paymentComplete, #membershipPayment {display:none;}


/*
Basic Layout Structure Styles*/

* {
	margin: 0px;
	padding: 0px;
}
p {
	margin-bottom: 10px;
}

body {
	margin: 0px;
	background-image: url(../images/bkgnd.jpg);
	background-repeat: repeat-x;
	background-color: transparent;
	text-align: center;
}

#wrapper {
	height: auto;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	background-repeat: repeat-y;
}

/*These are the styles for all the header graphics for each page of the site, The header graphic for the news area is contained within the word press files found in the news directory*/
#header {
	background-color: transparent;
	background-image: url(../images/headers/home_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#joinHeader {
	background-color: transparent;
	background-image: url(../images/headers/join_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#benefitsHeader {
	background-color: transparent;
	background-image: url(../images/headers/benefits_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#certificationHeader {
	background-color: transparent;
	background-image: url(../images/headers/certification_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#proDevHeader {
	background-color: transparent;
	background-image: url(../images/headers/pro_dev_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#proResourcesHeader {
	background-color: transparent;
	background-image: url(../images/headers/pro_resources_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#agendaHeader {
	background-color: transparent;
	background-image: url(../images/headers/agenda_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#aboutHeader {
	background-color: transparent;
	background-image: url(../images/headers/about_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#contactHeader {
	background-color: transparent;
	background-image: url(../images/headers/contact_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#sitemapHeader {
	background-color: transparent;
	background-image: url(../images/headers/sitemap_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

#loginHeader {
	background-color: transparent;
	background-image: url(../images/headers/login_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}

/*Spacers Needed for Gradient Background Blend*/
#left_spacer {
	float: left;
	height: auto;
	width: 22px;
	overflow: auto;
	clear: none;
	padding: 0px;
	position: relative;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#right_spacer {
	float: right;
	width: 21px;
	margin: 0px;
	overflow: auto;
}

/*Wrappers needed for layout graphics*/
#content_wrapper {
	margin: 0px;
	height: auto;
	width: auto;
	overflow: auto;
}
#layout_wrapper {
	text-align: center;
	height: auto;
	width: 800px;
	overflow: auto;
	margin: 0px;
	background-image: url(../images/layout_content.jpg);
	background-repeat: repeat-y;
}



/*The style below is for the container that holds al the main content, including text, images and other media. This style holds the main text atributes such as font style, color, size, and line hieght*/

#main_content {
float: right;
	height: auto;
	width: 500px;
	overflow: auto;
	text-align: left;
	padding-right: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1em;
	line-height: 1.3em;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#search_content {
	float: right;
	height: auto;
	width: 500px;
	overflow: auto;
	text-align: left;
	padding-right: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1em;
	line-height: 1.3em;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#search_content h1 {
	color: #004B71;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #004B71;
	padding-bottom: 0.2em;
	font-size: 2em;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}


#main_content h1 {
	color: #004B71;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #004B71;
	padding-bottom: 0.2em;
	font-size: 2em;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
}


/*The navigation style is the container for all the main navigation on the left side of the main content container*/
#navigation {
	float: left;
	height: auto;
	width: 225px;
	overflow: auto;
	text-align: left;
	margin-top: 30px;
	margin-right: -20px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-left: 0px;
}
#navigation ul {
	margin: 0px;
	list-style-type: none;
	list-style-position: inside;
	padding: 0px;
}
#navigation li {
	text-decoration: none;
	height: 34px;
	width: 186px;
	width: 186px;
	height: 34px;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(../images/button_roll.gif);
}



#search_navigation {
	float: left;
	height: auto;
	width: 225px;
	overflow: auto;
	text-align: left;
	margin-top: 30px;
	margin-right: -20px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-left: 0px;
}
#search_navigation ul {
	margin: 0px;
	list-style-type: none;
	list-style-position: inside;
	padding: 0px;
}
#search_navigation li {
	text-decoration: none;
	height: 34px;
	width: 186px;
	width: 186px;
	height: 34px;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(../images/button_roll.gif);
}

/*The footer style is the container for all the footer information, such as text based navigation links, copyright info, contact info, and even the footer graphic*/
#footer {
	background-color: transparent;
	background-image: url(../images/footer.jpg);
	margin: 0px;
	height: 127px;
	width: 800px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .7em;
	line-height: 1.2em;
	padding-top: 8px;
}



/*The two styles below are forthe button rollover actions*/

#navigation li a {
	display:block;
	background: url(../images/button_roll.gif) no-repeat 0px 0px;
	text-decoration: none;
	height: 29px;
	width: 186px;
	color: #000000;
	text-align: center;
	padding-top: 6px;
	font-weight: bold;
}

#navigation li a:hover {
	background-position: 0 -34px;
	background-image: url(../images/button_roll.gif);
	background-repeat: no-repeat;
	height: 29px;
	width: 186px;
	color: #FFFFFF;
	font-weight: bold;
}

#search_navigation li a {
	display:block;
	background: url(../images/button_roll.gif) no-repeat 0px 0px;
	text-decoration: none;
	height: 29px;
	width: 186px;
	color: #000000;
	text-align: center;
	padding-top: 6px;
	font-weight: bold;
}

#search_navigation li a:hover {
	background-position: 0 -34px;
	background-image: url(../images/button_roll.gif);
	background-repeat: no-repeat;
	height: 29px;
	width: 186px;
	color: #FFFFFF;
	font-weight: bold;
}


/*The styles below are forthe link rollover styles sitewide */

a {
	color: #06c;
	text-decoration: none;
	}

a:hover {
	color: #147;
	text-decoration: underline;
	}
	
a:visited {
	color: #06c;
	text-decoration: none;
	}

a:visited:hover {
	color: #147;
	text-decoration: underline;
	}
	
#wildcard {
	text-align: left;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.2em;
	color: #000000;
	padding-left: 15px;
	margin-right: 20px;
}
.imgFloatRight {
	margin: 5px;
	float: right;
	border: 1px solid #0090C7;
	padding: 5px;
}
.imgFloatLeft {
	padding: 5px;
	float: left;
	border: 1px solid #0090C7;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.boldItalic {
	font-style: italic;
	font-weight: bold;
}
#preloader {
	display: none;
}
#googlesearch {
	margin-bottom: 15px;
	margin-left: 10px;
}
#main_content ul {
	list-style-position: inside;
	list-style-image: url(../images/bullet2.jpg);
	list-style-type: none;
	padding-left: 35px;
	margin-bottom: -15px;
	text-indent: -20px;
}

#main_content ul li{
	margin-top: 5px;
}

.bold_underline {
	font-weight: bold;
	text-decoration: underline;
}
.formtext {
	font-size: 0.9em;
	color: #000000;
}
#schoolHeader {
	background-color: transparent;
	background-image: url(../images/headers/school_header.jpg);
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}
b {
	font-weight: bold;
	color: #333333;
	font-size: .9em;
}
#main_content table .heading {
	font-size: 0.7em;
	background-color: #1465A7;
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#main_content table .gray {
	font-size: 0.7em;
	background-color: #eeeeee;
	color: #000000;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}
#main_content table .white {
	font-size: 0.7em;
	background-color: #ffffff;
	color: #000000;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}
.buttonbox {
	margin: 5px;
	padding: 10px;
	border: 1px solid #006699;
}
.red {
	font-weight: bold;
	color: #FF0000;
}
.gray {
	background-color: #CCCCCC;
}
.white {
	background-color: #FFFFFF;
}