/*  !Main Styles */
html {}
body { padding:0; margin:0; background:#292b2d;width:100%; display:table;font-family:Georgia, Times New Roman, serif; font-size:13px;color:white; }
/* #wrapper { width:960px; margin:0 auto;margin-top:25px; } */
#pageBody div { float:left; }
#alfredoHeader { width:100%; height:60px;background: url('../images/header.gif') no-repeat center top; cursor:pointer;text-indent: -9999px; }
.pageHeader {font-weight:bold;font-size:26px;color:#444444;font-family:"Georgia",serif;}
.fixed {
	position: fixed;
	top: 0px;
	width:960px !important;
}
.fixedAppStore {
	position: fixed !important;
}

.roundedCorners {
     -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3+, Chrome */
          border-radius: 12px; /* Opera 10.5, IE 9 */
}
a:link, a:visited {color:#888888;text-decoration: underline;}
a:hover {color:#666666;text-decoration: none;}
  
.lte8 .fixed {position:relative !important;}

/* !Navigation Styles */
#navigation { width:448px;height:20px;margin:auto; }
#navigation div {float:left;}
.navButton { height:20px;background: url('../images/navbar.gif') no-repeat;margin:0 3px;cursor:pointer;text-indent: -9999px;}
#navHome {width:50px;background-position: 0px 0px;}
#navFilms {width:42px;background-position: -57px 0px;}
#navNews {width:45px;background-position: -105px 0px;}
#navBio {width:25px;background-position: -157px 0px;}
#navContact {width:72px;background-position: -187px 0px;}
.navMiddot {height:20px;width:7px;background: url('../images/navbar.gif') no-repeat;background-position: -262px -2px;margin:0 19px 0 20px;}

#topHr, #bottomHr {width:960px;height:34px;background: url('../images/hr-sprites.jpg') no-repeat center top;float:left;}
/* #topHr {width:900px;height:34px;background: url('../images/top-hr.jpg') no-repeat center top;} */
#bottomHr {background-position:0 -34px;padding-bottom:7px;}

/* !PageBody Styles */
#pageBody { width:800px;margin: auto;}
#pageContainer {height:auto;width:960px; }
#pageContent {height:auto;min-height:350px;line-height:22px;}

/* !Home Styles */
#homeHeader {width:100%;height:29px;background: url('../images/ma-headers-home.gif') no-repeat top left;margin-bottom:25px;}
/* .firstWord {font-weight:bold;font-size:20px;color:#444444;} */
#homeText {}
.homeImgBox {width:690px;height:240px;margin:auto;margin-left:55px;}
#topHomeImgs {background: url('../images/homeTopImgs.jpg') no-repeat center top;}
#bottomHomeImgs {background: url('../images/homeBottomImgs.jpg') no-repeat center top;}
.homeImage {width:300px;height:220px;background:blue;margin-right:20px;}

/* !Registration Styles */
input {margin:3px 0px;clear:left;}
#memberReg {font-size:9pt !important;}

/* !Footer Styles */
#footer {clear:both;}
#copyright { width:960px; text-align:center; color:#666666; font-size:10px; height:30px; }
#byLine {position:fixed; right:3px;bottom:3px;font-size:10px;}

/* !Existing Styles */
#joinHeader {
	background-color: transparent;
	background-image: url('../images/headers/join_header.jpg');
	background-repeat: no-repeat;
	height: 240px;
	width: 800px;
	margin: 0px;
	overflow: auto;
}
/*Wrappers needed for layout graphics*/
#content_wrapper {
	margin: 0px;
	height: auto;
	width: auto;
	overflow: auto;
}
#layout_wrapper {
	text-align: center;
	height: auto;
	width: 800px;
	overflow: auto;
	margin: 0px;
	background-image: url(../images/layout_content.jpg);
	background-repeat: repeat-y;
}
/*The style below is for the container that holds al the main content, including text, images and other media. This style holds the main text atributes such as font style, color, size, and line hieght*/

#main_content {
float: right;
	height: auto;
	width: 500px;
	overflow: auto;
	text-align: left;
	padding-right: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 1em;
	line-height: 1.3em;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/*The footer style is the container for all the footer information, such as text based navigation links, copyright info, contact info, and even the footer graphic*/
#footer {
	background-color: transparent;
	background-image: url(../images/footer.jpg);
	margin: 0px;
	height: 127px;
	width: 800px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .7em;
	line-height: 1.2em;
	padding-top: 8px;
}
.imgFloatRight {
	margin: 5px;
	float: right;
	border: 1px solid #0090C7;
	padding: 5px;
}
.imgFloatLeft {
	padding: 5px;
	float: left;
	border: 1px solid #0090C7;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#main_content table .heading {
	font-size: 0.7em;
	background-color: #1465A7;
	color: #FFFFFF;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#main_content table .gray {
	font-size: 0.7em;
	background-color: #eeeeee;
	color: #000000;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}
#main_content table .white {
	font-size: 0.7em;
	background-color: #ffffff;
	color: #000000;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.2em;
}
.buttonbox {
	margin: 5px;
	padding: 10px;
	border: 1px solid #006699;
}