<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> ::1<br/>
<b>Referer:</b> <br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.127 Safari/534.16<br/>
<b>Date & Time:</b> 03-14-11 6:31:12 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> ::1<br/>
<b>Referer:</b> <br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.127 Safari/534.16<br/>
<b>Date & Time:</b> 03-14-11 6:31:26 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> ::1<br/>
<b>Referer:</b> <br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.127 Safari/534.16<br/>
<b>Date & Time:</b> 03-14-11 6:31:29 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> ::1<br/>
<b>Referer:</b> <br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_6; en-US) AppleWebKit/534.16 (KHTML, like Gecko) Chrome/10.0.648.127 Safari/534.16<br/>
<b>Date & Time:</b> 03-14-11 6:31:39 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 1:59:18 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', 'b126ba4279b363606d588614d5192594', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:01:49 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '8ab72a570e69e7b1beb3ecbab421896b', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:02:18 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', 'fb8c46b3f94c2817053df352624da1b8', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:05:30 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '4494557aabe5a9b00f3ef560c6a243da', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:06:28 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', 'fbd0a0d27003a5dc3cbc6a7d5b6148af', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:07:34 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '0510495adce46b9bc6a606a1c80d0509', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:10:13 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '1c5f146257611ca1abd3b2c3858c6427', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:11:17 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '060ee0cd50db3631683156643bc378d6', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:12:40 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '3b7a4f1829245c21837ec55bbcde89da', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:17:06 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: [INSERT INTO members (firstName, lastName, email, addressL1, city, state, zipcode, phone, contact, region, yearsEnrolled, lastEnrollment, membershipStatus, fingerprint, paid) VALUES ('Eli', 'Silverman', 'esilver421@nyu.edu', '3923 Orleans Ave.', 'New Orleans', 'LA', '70119', '(516) 996-0809', '0', '3', '1', CURDATE(), '1', '1be27e0bf455058ec763e331c13e16c8', '0')]<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:21:57 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:24:14 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:31:34 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:31:57 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:33:55 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:35:09 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:36:02 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/renew.php?id=fb8c46b3f94c2817053df352624da1b8<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:36:15 PM CDT<br/>
<b>SQLrenewQuery</b>: []<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:37:34 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
<br/>
----------------------------------------------------<br/>
<b>IP Address:</b> 127.0.0.1<br/>
<b>Referer:</b> http://localhost:8888/nyssswa/thankyou.php<br/>
<b>UserAgent:</b> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11<br/>
<b>Date & Time:</b> 03-14-12 2:38:04 PM CDT<br/>
<b>SQLrenewQuery</b>: [UPDATE members SET   firstName = 'Eli',  lastName = 'Silverman',  addressL1 = '3923 Orleans Ave.',  city = 'New Orleans',  state = 'LA',  zipcode = '70119',  phone = '(516) 996-0809',  email = 'esilver421@nyu.edu',  contact = '0',  region = '3',  yearsEnrolled = '2',  lastEnrollment = CURDATE(),  membershipStatus = '1',  paid = '0'    WHERE fingerprint = 'fb8c46b3f94c2817053df352624da1b8' ]<br/>
<b>SQLnewQuery</b>: []<br/>
