@import "io_client.css";
.boxShadow{-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;}
.siteName{float:left;margin-right:10px;padding-right:20px;background:url("arrow.png") right no-repeat;letter-spacing:1px;}
.currentTable a,.currentTable a:visited{color:yellow !important;letter-spacing:1px;}
.otherTable{overflow:hidden;margin-left:10px;padding:5px;}
.otherTable a,.otherTable a:visited{color:white;text-decoration:none;}
.otherTable a:hover{color:yellow;text-decoration:none;}
#tableList{z-index:2;top:40px;display:none;text-align:left;left:10px;position:absolute;font-size:12pt;background:#535353;padding:5px 10px 8px 0px;line-height:12px;}
#currentTableTitle{float:left;}
#currentTableTitle a,.siteName a,#currentTableTitle a:visited,.siteName a:visited{color:white;text-decoration:none;}
#currentTableTitle a:hover,.siteName a:hover{color:yellow;}
.navlistHr{margin:3px auto;height:1px;background:#DDD;width:90%;}
.navigation{width:100%;height:40px;background:#333333;font-size:30px;color:#FFF;font-weight:lighter;padding:5px 13px 0px 13px;user-select:none;-moz-user-select:none;-khtml-user-select:none;position:fixed;z-index:400;float:left;border-top:7px yellow solid;-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;}
#io-cms{height:20px;position:fixed;top:0;right:50px;font-size:9pt;background:#333333;padding:2px 12px;font-weight:100;letter-spacing:1px;border-bottom:7px #c9c9c9 solid;}#io-cms a:link,#io-cms a:visited{color:yellow;text-decoration:none;}
#io-cms a:hover{color:white;border-bottom:1px white dotted;padding-bottom:2px;}
@media (max-width: 775px){#io-cms{height:15px;bottom:0;right:10px;top:inherit;border-bottom:none;border-top:7px yellow solid;padding:5px 12px 2px;}}.recordsList,#fieldsList,#helpBody{margin-top:60px;margin-left:20px;float:left;margin-bottom:5px;clear:both;}
#fieldsList{color:#222;padding-bottom:20px;}#fieldsList label,#fieldsList input[type='submit']{text-shadow:0px 1px 0px #FFF;}
#fieldsList input[type='text'],#fieldsList textarea{width:95%;max-width:600px;padding:3px;}
#fieldsList input[type='submit']{float:left;cursor:pointer;background:#e3e3e3;border:1px solid #bbb;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 0 1px 1px #f6f6f6;-moz-box-shadow:inset 0 0 1px 1px #f6f6f6;-ms-box-shadow:inset 0 0 1px 1px #f6f6f6;-o-box-shadow:inset 0 0 1px 1px #f6f6f6;box-shadow:inset 0 0 1px 1px #f6f6f6;color:#333;font:bold 12px "helvetica neue",helvetica,arial,sans-serif;text-align:center;text-shadow:0 1px 0 #fff;}
#fieldsList input[type='submit']:hover{background:#d9d9d9;-webkit-box-shadow:inset 0 0 1px 1px #eaeaea;-moz-box-shadow:inset 0 0 1px 1px #eaeaea;-ms-box-shadow:inset 0 0 1px 1px #eaeaea;-o-box-shadow:inset 0 0 1px 1px #eaeaea;box-shadow:inset 0 0 1px 1px #eaeaea;color:#222;cursor:pointer;}
#fieldsList input[type='submit']:active{background:#d0d0d0;-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;-moz-box-shadow:inset 0 0 1px 1px #e3e3e3;-ms-box-shadow:inset 0 0 1px 1px #e3e3e3;-o-box-shadow:inset 0 0 1px 1px #e3e3e3;box-shadow:inset 0 0 1px 1px #e3e3e3;color:#000;}
.backListRecord{display:block;width:300px;padding:6px 6px 34px 6px;margin:5px 10px 5px 0px;background:#666;color:#EEE;float:left;height:auto;position:relative;}
.backListRecord img{display:inline !important;height:100px;}
.backListElement{display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:3px;}
.backListTitle{height:22px;font-weight:bold;font-size:18px;overflow-y:hidden;}
.editBtn{text-decoration:none;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:38px;}
.dragIcon{background:transparent url('images/sort-icon.gif');height:14px;width:15px;float:right;cursor:pointer;}
.backListRecord.ui-sortable-helper{-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;}
.deleteBtn{color:#444444;display:inline;margin-left:10px;}
.deleteBtn a,.deletBtn a:visited{cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
.deleteBtn a:hover{text-decoration:none;}
a.removeBtn{color:red;display:inline;margin-left:10px;}
a.removeBtn,a.removeBtn:visited{cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
a.removeBtn:hover{text-decoration:none;}
.newBtn{cursor:pointer;text-decoration:none;display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:114px;clear:both;margin:10px 0px;}
#saveRecord{font-size:20px;display:block;margin-right:10px;}
#cancelRecord{font-size:20px;display:block;}
.listPageButtons{position:absolute;bottom:7px;}
#listViewBtn{float:left;width:17px;height:14px;cursor:pointer;}
#gridViewBtn{float:left;width:17px;height:14px;background:#8F8E79 none repeat scroll 0 0;cursor:pointer;}
#listBtns{float:left;width:34px;height:14px;margin-top:8px;margin-left:15px;}
.saveNewOpt{cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}
.cancelNewOpt{cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}
a.negativeBtns{color:red;background:#333 none repeat scroll 0 0;text-decoration:none;}
a.negativeBtns:hover{color:#000;background:red;}
a.positiveBtns{color:yellow;background:#333;text-decoration:none;}
a.positiveBtns:hover{color:#000;background:yellow;}
.jCropSubmit{background:red;color:#E6E3C3;cursor:pointer;display:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;text-align:center;}
.jCropSubmit:hover{color:#000;}
div.jCropSubmit:hover{color:#000;background:#FFF;}
.dropDown_related_addBtn{cursor:pointer;display:block;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:100px;text-align:center;}
#menuBtn{float:left;color:yellow;cursor:pointer;font-weight:bold;padding-right:20px;}
#menuBtn.menuBtnHover{color:white;}
.groupItemList{border:4px solid #888;padding:4px;width:650px;}
#io_productsForm .linkedTable{width:500px;}
.linkedTable{border:4px solid #888;padding:4px;width:968px;background:white;}
.linkedTable span{font-size:20px;}
.linkedTableList{float:left;clear:both;}
.autocompleteSearchBox{float:left;clear:both;padding:3px;font-size:11pt;margin-bottom:7px;color:gray;font-style:italic;width:300px;}
a.deleteYes,a.deleteYes:visited{color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteYes:hover{color:#D1D3C5;text-decoration:none;}
a.deleteNo,a.deleteNo:visited{color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteNo:hover{color:#D1D3C5;text-decoration:none;}
.deleteConfirmation{background:#8B4646;color:#FFFFFF;display:none;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;float:left;}
.formElement{display:inline;font-family:Helvetica,sans-serif;font-size:10pt;margin-bottom:15px;}
label{display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;margin-bottom:4px;margin-top:10px;}
form{padding:0;margin:0;}
.previewBox{overflow:hidden;border:3px #d9d9d9 solid;}
.fileUploadThumb{float:left;padding-left:20px;}
.fileUploadCrop{float:left;border:1px dashed black;padding:0px 10px 10px 10px;}
.mov embed{width:500px;height:500px;}
.inline{display:inline;}
.clearBoth{clear:both;height:0px;}
body{background:#d9d9d9;margin:0 0 20px 0;padding:0px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
#specsWriterBody{background:#AAA;padding:20px;}
#specsWriteContainer{font-size:9pt;width:600px;}
.header{font-size:14pt;font-weight:lighter;}
.addButton{background:#A35A28;color:white;font-size:10pt;font-weight:bold;text-align:center;padding:1px;cursor:pointer;text-align:center;user-select:none;-moz-user-select:none;-khtml-user-select:none;}
.deleteButton{background:red;color:white;font-size:9pt;font-weight:normal;text-align:center;padding:1px;cursor:pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select:none;-khtml-user-select:none;}
.cloneButton{background:#FFD760;color:#A35A28;border:1px solid #A35A28;font-size:9pt;font-weight:bold;text-align:center;padding:1px 1px 3px 1px;cursor:pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select:none;-khtml-user-select:none;}.cloneButton span{font-size:15px;}
.cloneButton .clonePlusLight{opacity:.6;}
.cloneButton .clonePlusDark{margin-left:-3px;}
.addButton:hover,.deleteButton:hover,.cloneButton:hover{background:#222;color:white;}
.collapseBtn{cursor:pointer;font-weight:bold;display:inline;}
#buildMetaBtn{cursor:pointer;padding-bottom:20px;}
#siteName{margin-bottom:10px;}
#siteName input{width:300px;font-size:12pt;padding:5px;}
#addGlobal{color:white;cursor:pointer;margin-top:10px;text-align:center;width:120px;clear:both;}
.globalVar{margin-bottom:5px;padding-left:15px;}
.globalVar .inputField{width:300px;padding:3px;clear:right;}
.reqGlobal{width:85px;margin-left:4px;font-weight:bold;}
#globalsContainer{border-bottom:2px solid gray;margin-bottom:10px;padding:10px 0px;}
#globalsContainer,#globalsContainer *{float:left;}
#globalsContainer span{margin-top:3px;}
.deleteGlobalBtn{display:inline;margin-left:5px;color:black;background:none;}
.nameField{width:100px;margin-right:7px;font-weight:bold;}
.tableCheckboxes{margin-top:5px;font-weight:bold;}
.tableCheckboxes input{margin-right:7px;}
.field{margin:5px 5px 0 15px;padding:10px 0 10px 25px;border:1px solid #666;position:relative;}
.newField{color:white;cursor:pointer;margin:7px 0 0 15px;text-align:center;width:110px;display:inline-table;}
.deleteField{margin-top:7px;width:100px;margin-left:307px;}
.cloneField{margin-top:7px;width:100px;}
.fieldCollapse{position:absolute;right:7px;top:11px;}
.collapseAllFields{width:150px;margin-left:15px;margin-top:8px;display:inline-table;}
.fieldCollapse,.tableCollapse{padding:3px 5px;background:white;font-weight:bold;text-align:center;}
.fieldCollapse:hover,.tableCollapse:hover{padding:3px 5px;background:black;font-weight:bold;color:white;}
.table{border-bottom:2px solid gray;margin-top:10px;padding:6px 3px 15px;width:575px;position:relative;}
.field:nth-child(odd){background:#D0D9DD;}
.field:nth-child(even){background:#ABBCC4;}
#newTable{color:white;cursor:pointer;margin-bottom:15px;margin-top:10px;text-align:center;width:120px;}
.cloneTable{margin-top:7px;width:100px;}
.deleteTable{margin-left:348px;margin-top:10px;width:100px;}
.tableCollapse{position:absolute;right:5px;top:7px;}
.addOption{margin:5px 0 0 15px;width:100px;font-weight:normal;}
.deleteOption{display:inline;margin-left:7px;cursor:pointer;}
.dropDownOption{margin-left:15px;margin-top:3px;}
.optionsContainer{width:300px;}
#linkToXML{font-weight:bold;font-size:18;font-family:Helvetica,sans-serif;margin-left:20px;}
#linkToXML a,#linkToXML a:visited{color:#000;text-decoration:none;}
#linkToXML a:hover{color:#BBB;text-decoration:none;}
.fieldContents{margin-top:3px;}
.sqldatatype,.entrymethod{display:inline;}
.backlist select{margin-left:37px;}
.frontlist select{margin-left:36px;}
.entrymethod select{margin-left:15px;}
.sqldatatype select{margin-left:5px;}
.field select{margin-top:2px;}
.thumbChild{margin-left:10px;margin-top:2px;}
.thumbChild input{margin-right:5px;}
.linkedTableName{margin-left:7px;}
#templates{display:none;}
.specsBtn,.css3Button{background:#e3e3e3;border:1px solid #bbb;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 0 1px 1px #f6f6f6;-moz-box-shadow:inset 0 0 1px 1px #f6f6f6;-ms-box-shadow:inset 0 0 1px 1px #f6f6f6;-o-box-shadow:inset 0 0 1px 1px #f6f6f6;box-shadow:inset 0 0 1px 1px #f6f6f6;color:#333;font:bold 12px "helvetica neue",helvetica,arial,sans-serif;text-align:center;text-shadow:0 1px 0 #fff;}
button.minimal:hover,.specsBtn:hover,.css3ButtonHover{background:#d9d9d9;-webkit-box-shadow:inset 0 0 1px 1px #eaeaea;-moz-box-shadow:inset 0 0 1px 1px #eaeaea;-ms-box-shadow:inset 0 0 1px 1px #eaeaea;-o-box-shadow:inset 0 0 1px 1px #eaeaea;box-shadow:inset 0 0 1px 1px #eaeaea;color:#222;cursor:pointer;}
button.minimal:active,.specsBtn:active,.css3ButtonActive{background:#d0d0d0;-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;-moz-box-shadow:inset 0 0 1px 1px #e3e3e3;-ms-box-shadow:inset 0 0 1px 1px #e3e3e3;-o-box-shadow:inset 0 0 1px 1px #e3e3e3;box-shadow:inset 0 0 1px 1px #e3e3e3;color:#000;}
.groupItem .saveGroupItem{cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .saveNewGroupItem{cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .deleteGroupItem{cursor:pointer;width:120px;text-align:center;border:solid 1px gray;font-weight:bold;}
.fileCropContainer{margin-top:10px;}
textarea{width:500px;height:200px;}
.editIconBtn{width:20px;height:20px;position:absolute;top:3px;left:3px;cursor:pointer;}
.editIconBtn img{width:16px;height:16px;border:0;padding:2px;}
.editIconBtn:hover{background:#444;}
.backListElement a:link,.backListElement a:visited{color:orange;}
.backListElement a:hover{color:yellow;text-decoration:none;}
.listView .backListElement{display:inline;margin-right:20px;}
.gridView{float:left;width:300px;}
.listView{float:none;width:500px;}
#fade{display:none;background:#000;position:fixed;left:0;top:0;width:100%;height:100%;opacity:.80;z-index:9999;}
.popup_block{display:none;height:80%;background:#fff;padding:20px;border:20px solid #ddd;float:left;font-size:1.2em;position:fixed;top:50%;left:50%;z-index:99999;-webkit-box-shadow:0px 0px 20px #000;-moz-box-shadow:0px 0px 20px #000;box-shadow:0px 0px 20px #000;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.popup_block p{margin:0;}
.innerSelector{height:95%;overflow-y:auto;overflow-x:hidden;}
img.btn_close{float:right;margin:-55px -55px 0 0;}
*html #fade{position:absolute;}
*html .popup_block{position:absolute;}
.selectorRecord{border:4px solid #666;cursor:pointer;display:block;width:300px;padding:6px;margin:5px 10px 5px 0px;background:#666;color:#EEE;float:left;height:auto;}
.selectorRecord img{display:inline !important;height:100px;}
.popup_block .selected{border:4px solid yellow;}
.popup_block button,.popupLink{font-size:10pt;margin:10px 10px 10px 0px;cursor:pointer;background:#333;border:none;color:yellow;padding:5px 6px;text-transform:uppercase;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.popup_block button:hover,.popupLink:hover{color:black;background:yellow;}
.popupLink{float:left;clear:left;font-weight:normal !important;font-size:16px !important;}
#helpBody{width:100%;float:left;color:black;}
#helpPage #listBtns,.writePage #listBtns,.staticBody #listBtns{display:none;}
