.siteName {float:left;margin-right:10px;padding-right:20px;background:url("arrow.png") right no-repeat;}
.currentTable a, .currentTable a:visited {color:yellow !important;}
.otherTable {overflow:hidden;margin-left:10px;padding:5px;}
.otherTable a, .otherTable a:visited {color: white;text-decoration:none;}
.otherTable a:hover {color: yellow; text-decoration:none;}
#tableList {z-index:2;top:40px;display:none;text-align:left;left:10px;position:absolute;font-size:12pt;background: #535353;padding: 5px 10px 8px 0px;line-height:12px;}
#currentTableTitle {float:left;}
#currentTableTitle a, #currentTableTitle a:visited {color:white;text-decoration: none;}
#currentTableTitle a:hover {color:yellow;}

.navigation {background:url('navbar.png') repeat-x;font-family:Helvetica,sans-serif;font-size:30px;color:#FFF;padding:5px 13px;height:40px;user-select:none;-moz-user-select: none;-khtml-user-select:none;position: fixed;width:100%;float:left;z-index:400;}
.recordsList, #fieldsList {margin-top:40px;margin-left:20px;float:left;margin-bottom:5px;clear:both;}
.backListRecord {display:block;width:300px;padding:6px;margin:5px 10px 5px 0px;background:#666;color:#EEE;float:left;}
.backListRecord img {display:block;height:100px;}
.backListElement {display:block;font-family:Helvetica,sans-serif;font-size:14px;margin-bottom:3px;}
.editBtn {text-decoration:none;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:38px;}
.dragIcon {background:transparent url('images/sort-icon.gif');height:14px;width:15px;float:right;cursor: pointer;}

.deleteBtn {color:#444444;display:inline;margin-left:10px;}
.deleteBtn a, .deletBtn a:visited {cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
.deleteBtn a:hover {text-decoration:none;}

a.removeBtn {color:red;display:inline;margin-left:10px;}
a.removeBtn, a.removeBtn:visited {cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
a.removeBtn:hover {text-decoration:none;}


.newBtn {cursor:pointer;text-decoration:none;display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:114px;clear:both;}
#saveRecord {font-size:20px;margin-top:10px;display:block;float:left;margin-right:10px;}
#cancelRecord {font-size:20px;margin-top:10px;display:block;}
.listPageButtons {margin-top:10px;}
#listViewBtn {float:left;width:17px;height:14px;cursor:pointer;}
#gridViewBtn {float:left;width:17px;height:14px;background:#8F8E79 none repeat scroll 0 0;cursor:pointer;}
#listBtns {float:left;width:34px;height:14px;margin-top:8px;margin-left:15px;}
.saveNewOpt {cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}
.cancelNewOpt {cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}

a.negativeBtns {color:red;background:#444 none repeat scroll 0 0;text-decoration: none;}
a.negativeBtns:hover {color:#000;background: red;}
a.positiveBtns {color:yellow;background:#444;text-decoration: none;}
a.positiveBtns:hover {color:#000;background:yellow;}

.jCropSubmit {background:red;color:#E6E3C3;cursor:pointer;display:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;text-align: center;}
.jCropSubmit:hover {color:#000;}
div.jCropSubmit:hover {color:#000;background:#FFF;}

.dropDown_related_addBtn {cursor:pointer;display:block;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:100px;text-align:center;}

#goTo {float:left;color:yellow;cursor:pointer;font-weight:bold;padding-right:20px;}

.groupItemList {border:4px solid #888;padding:4px;width:650px;}
.linkedTable {width:665px;border:4px solid #888;padding:4px;width:660px;}
.linkedTableList {float:left;clear:both;}
.autocompleteSearchBox {float:left;margin-bottom:7px;color:gray;font-style:italic;width:150px;}

a.deleteYes, a.deleteYes:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteYes:hover {color:#D1D3C5;text-decoration:none;}
a.deleteNo, a.deleteNo:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteNo:hover {color:#D1D3C5;text-decoration:none;}
.deleteConfirmation {background:#8B4646 none repeat scroll 0 0;color:#FFFFFF;display:none;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;float:left;}
.formElement {display:inline;font-family:Helvetica,sans-serif;font-size:10pt;margin-bottom:15px;}
label {display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;margin-bottom:4px;margin-top:10px;}
form {padding:0;margin:0;}
.previewBox {overflow:hidden;}
.fileUploadThumb {float:left;padding-left:20px;}
.fileUploadCrop {float:left;background:#888888;padding: 0px 10px 10px 10px;}

/* XMl Writer Styles */
body {background:#AAA;margin:0 0 20px 0;padding:0px;}
#specsWriteContainer {font-family:Arial,sans-serif;font-size:9pt;width:600px;}
.header {font-size:14pt;font-weight:bold;}
.addButton {background:#A35A28;color:white;font-size:10pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.deleteButton {background:red;color:white;font-size:9pt;font-weight:normal;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.cloneButton {background:#FFD760;color:#A35A28;border:1px solid #A35A28;font-size:9pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.collapseBtn {cursor:pointer;font-weight:bold;display:inline;}
#buildMetaBtn {cursor:pointer;padding-bottom:20px;}

#siteName {margin-bottom:10px;}

#addGlobal {color:white;cursor:pointer;margin-top:10px;text-align:center;width:120px;}
.globalVar {margin-bottom:5px;padding-left:15px;}
.reqGlobal {width:155px;display:inline-table;font-weight:bold;}
#globalsContainer {border-bottom:2px solid gray;margin-bottom:10px;padding:10px 0px;}
.deleteGlobalBtn {display:inline;margin-left:5px;color:black;background:none;}
.nameField {width:100px;display:inline;margin-right:7px;font-weight:bold;}

.field {margin:5px 5px 0 15px;padding: 10px 0 10px 25px;}
.newField {color:white;cursor:pointer;margin:7px 0 0 15px;text-align:center;width:110px;display:inline-table;}
.deleteField {margin-top:7px;width:100px;margin-left:307px;}
.cloneField {margin-top:7px;width:100px;}
.fieldCollapse {margin-left:20px;}
.collapseAllFields {width:150px;margin-left:15px;margin-top:8px;display:inline-table;}

.table {border-bottom:2px solid gray;margin-top:10px;padding:6px 3px 15px;width:575px;}
.rowA {background:#9EB5A0 none repeat scroll 0 0;}
.rowB {background:#C2CFC3 none repeat scroll 0 0;}
#newTable {color:white;cursor:pointer;margin-bottom:15px;margin-top:10px;text-align:center;width:120px;}
.cloneTable {margin-top:7px;width:100px;}
.deleteTable {margin-left:348px;margin-top:10px;width:100px;}
.tableCollapse {margin-left:57px;}

.addOption {margin:5px 0 0 15px;width:100px;font-weight:normal;}
.deleteOption {display:inline;margin-left:7px;cursor:pointer;}
.dropDownOption {margin-left:15px;margin-top:3px;}
.optionsContainer {width:300px;}

#linkToXML {font-weight:bold;font-size:18;font-family:Helvetica, sans-serif;margin-left:20px;}
#linkToXML a, #linkToXML a:visited {color:#000;text-decoration: none;}
#linkToXML a:hover {color:#BBB;text-decoration: none;}

.backlist select {margin-left:37px;}
.frontlist select {margin-left:36px;}
.entrymethod select {margin-left:15px;}
.sqldatatype select {margin-left:5px;}
.field select {margin-top:2px;}

.thumbChild {margin-left:10px;margin-top:2px;}
.thumbChild input {margin-right:5px;}

.linkedTableName {margin-left:7px;}

/* Group Item Styles */
.groupItem .saveGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .saveNewGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .deleteGroupItem {cursor:pointer;width:120px;text-align:center;border:solid 1px gray;font-weight:bold;}

.fileCropContainer {margin-top:10px;}
