.siteName{float:left;margin-right:10px;padding-right:20px;background:url("arrow.png") right no-repeat;letter-spacing:1px;}
.currentTable a,.currentTable a:visited{color:yellow !important;letter-spacing:1px;}
.otherTable{overflow:hidden;margin-left:10px;padding:5px;}
.otherTable a,.otherTable a:visited{color:white;text-decoration:none;}
.otherTable a:hover{color:yellow;text-decoration:none;}
#tableList {z-index:2;top:40px;display:none;text-align:left;left:10px;position:absolute;font-size:12pt;background: #535353;padding: 5px 10px 8px 0px;line-height:12px;}
#currentTableTitle {float:left;}
#currentTableTitle a, #currentTableTitle a:visited {color:white;text-decoration: none;}
#currentTableTitle a:hover {color:yellow;}
.goToHr {margin-left:5px;}

.navigation{width:100%;height:40px;background:#333333;font-size:30px;color:#FFF;font-weight:lighter;padding:5px 0px 0px;user-select:none;-moz-user-select:none;-khtml-user-select:none;position:fixed;z-index:400;float:left;border-top:7px yellow solid;-moz-box-shadow:0px 0px 10px #000;-webkit-box-shadow:0px 0px 10px #000;box-shadow:0px 0px 10px #000;}
.recordsList, #fieldsList {margin-top:60px;margin-left:20px;float:left;margin-bottom:5px;clear:both;}
.recordsList {width:95%;}
.backListRecord {display:block;width:300px;padding:6px;margin:5px 10px 5px 0px;background:#666;color:#EEE;float:left;height:auto;}
.backListRecord img {display:inline !important;height:100px;}
.backListElement {display:block;font-family:Helvetica,sans-serif;font-size:14px;margin-bottom:3px;}
.editBtn {text-decoration:none;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:38px;}
.dragIcon {background:transparent url('images/sort-icon.gif');height:14px;width:15px;float:right;cursor: pointer;}

.deleteBtn {color:#444444;display:inline;margin-left:10px;}
.deleteBtn a, .deletBtn a:visited {cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
.deleteBtn a:hover {text-decoration:none;}

a.removeBtn {color:red;display:inline;margin-left:10px;}
a.removeBtn, a.removeBtn:visited {cursor:pointer;text-decoration:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:64px;}
a.removeBtn:hover {text-decoration:none;}


.newBtn {cursor:pointer;text-decoration:none;display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;width:114px;clear:both;}
#saveRecord {font-size:20px;margin-top:10px;display:block;/* float:left; */margin-right:10px;}
#cancelRecord {font-size:20px;margin-top:10px;display:block;}
.listPageButtons {margin-top:10px;}
#listViewBtn {float:left;width:17px;height:14px;cursor:pointer;}
#gridViewBtn {float:left;width:17px;height:14px;background:#8F8E79 none repeat scroll 0 0;cursor:pointer;}
#listBtns {float:left;width:34px;height:14px;margin-top:8px;margin-left:15px;}
.saveNewOpt {cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}
.cancelNewOpt {cursor:pointer;display:inline;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:64px;margin-left:7px;}

a.negativeBtns {color:red;background:#444 none repeat scroll 0 0;text-decoration: none;}
a.negativeBtns:hover {color:#000;background: red;}
a.positiveBtns {color:yellow;background:#444;text-decoration: none;}
a.positiveBtns:hover {color:#000;background:yellow;}

.jCropSubmit {background:red;color:#E6E3C3;cursor:pointer;display:none;font-family:Helvetica,sans-serif;font-size:16px;font-weight:normal;padding:3px 7px 1px;text-align: center;}
.jCropSubmit:hover {color:#000;}
div.jCropSubmit:hover {color:#000;background:#FFF;}

.dropDown_related_addBtn {cursor:pointer;display:block;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;width:100px;text-align:center;}

#goTo {float:left;color:yellow;cursor:pointer;font-weight:bold;padding-right:20px;margin-left:13px;}

.groupItemList {border:4px solid #888;padding:4px;width:650px;}
#io_productsForm .linkedTable {width:500px;}
.linkedTable {border:4px solid #888;padding:4px;width:968px;background: white;}
.linkedTable span {font-size:20px;}
.linkedTableList {float:left;clear:both;}
.autocompleteSearchBox {float:left;margin-bottom:7px;color:gray;font-style:italic;width:150px;}

a.deleteYes, a.deleteYes:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteYes:hover {color:#D1D3C5;text-decoration:none;}
a.deleteNo, a.deleteNo:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteNo:hover {color:#D1D3C5;text-decoration:none;}
.deleteConfirmation {background:#8B4646 none repeat scroll 0 0;color:#FFFFFF;display:none;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 1px;float:left;}
.formElement {display:inline;font-family:Helvetica,sans-serif;font-size:10pt;margin-bottom:15px;}
label {display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;margin-bottom:4px;margin-top:10px;}
form {padding:0;margin:0;}
.previewBox {overflow:hidden;}
.fileUploadThumb {float:left;padding-left:20px;}
.fileUploadCrop {float:left;background:#888888;padding: 0px 10px 10px 10px;}

/* XMl Writer Styles */
body{background:#d9d9d9;margin:0 0 20px 0;padding:0px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
#specsWriteContainer {font-family:Arial,sans-serif;font-size:9pt;width:600px;}
.header {font-size:14pt;font-weight:bold;}
.addButton {background:#A35A28;color:white;font-size:10pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.deleteButton {background:red;color:white;font-size:9pt;font-weight:normal;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.cloneButton {background:#FFD760;color:#A35A28;border:1px solid #A35A28;font-size:9pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.collapseBtn {cursor:pointer;font-weight:bold;display:inline;}
#buildMetaBtn {cursor:pointer;padding-bottom:20px;}

#siteName {margin-bottom:10px;}

#addGlobal {color:white;cursor:pointer;margin-top:10px;text-align:center;width:120px;}
.globalVar {margin-bottom:5px;padding-left:15px;}
.reqGlobal {width:155px;display:inline-table;font-weight:bold;}
#globalsContainer {border-bottom:2px solid gray;margin-bottom:10px;padding:10px 0px;}
.deleteGlobalBtn {display:inline;margin-left:5px;color:black;background:none;}
.nameField {width:100px;display:inline;margin-right:7px;font-weight:bold;}

.field {margin:5px 5px 0 15px;padding: 10px 0 10px 25px;}
.newField {color:white;cursor:pointer;margin:7px 0 0 15px;text-align:center;width:110px;display:inline-table;}
.deleteField {margin-top:7px;width:100px;margin-left:307px;}
.cloneField {margin-top:7px;width:100px;}
.fieldCollapse {margin-left:20px;}
.collapseAllFields {width:150px;margin-left:15px;margin-top:8px;display:inline-table;}

.table {border-bottom:2px solid gray;margin-top:10px;padding:6px 3px 15px;width:575px;}
.rowA {background:#9EB5A0 none repeat scroll 0 0;}
.rowB {background:#C2CFC3 none repeat scroll 0 0;}
#newTable {color:white;cursor:pointer;margin-bottom:15px;margin-top:10px;text-align:center;width:120px;}
.cloneTable {margin-top:7px;width:100px;}
.deleteTable {margin-left:348px;margin-top:10px;width:100px;}
.tableCollapse {margin-left:57px;}

.addOption {margin:5px 0 0 15px;width:100px;font-weight:normal;}
.deleteOption {display:inline;margin-left:7px;cursor:pointer;}
.dropDownOption {margin-left:15px;margin-top:3px;}
.optionsContainer {width:300px;}

#linkToXML {font-weight:bold;font-size:18;font-family:Helvetica, sans-serif;margin-left:20px;}
#linkToXML a, #linkToXML a:visited {color:#000;text-decoration: none;}
#linkToXML a:hover {color:#BBB;text-decoration: none;}

.backlist select {margin-left:37px;}
.frontlist select {margin-left:36px;}
.entrymethod select {margin-left:15px;}
.sqldatatype select {margin-left:5px;}
.field select {margin-top:2px;}

.thumbChild {margin-left:10px;margin-top:2px;}
.thumbChild input {margin-right:5px;}

.linkedTableName {margin-left:7px;}

/* Group Item Styles */
.groupItem .saveGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .saveNewGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .deleteGroupItem {cursor:pointer;width:120px;text-align:center;border:solid 1px gray;font-weight:bold;}

.fileCropContainer {margin-top:10px;}

/* !NYSSSWA Styles */
.clearDiv {height:1px;}
.backListElement {font-family:Georgia, Times New Roman, serif !important;}
textarea {width:500px;height:200px;}

/* !Members Styles */
#membersHeader {width:95%;font-size: 17pt;padding:12px;text-align:left;}
.members_record {position: relative;border:4px solid #666666;clear:none;}
.member_name {width:100%;font-size:14pt;float:left;}
.member_mailto {width:100%;height:16px;overflow:hidden;float:left;}
.no_email {float:left;width:100%;height:16px;}

#memberRecords .gridView {height:107px;}
.lapsedMembership {background:#888;color:#ddd;border-color:#888;}
.newOrRenewed {position: absolute;top:6px;right:6px;font-size:.8em;}
.newMembership {border:4px solid #38a538;}
.yearsEnrolled {font-size:12pt;}

/* !Accounting Styles */
#accountingRecords {padding-bottom:40px;}
#accountingHeader {float:left;width:95%;height:30px;padding:12px;text-align:left;font-size:20pt;}
#accountingRegionDropdown {width:195px;height:50px;float:left;padding:12px 0px 0px 12px;}
#sortByDropdown {width:205px;height:50px;float:left;padding:12px 0 0 15px;}
#orViewAll {float:left;margin-top:25px;font-size:16pt;}
#viewAllRegionsBtn {width:133px;margin-left:3px;}
#refreshBtn {width:282px;text-align:center;font-family:Hevletica, Arial, sans-serif;font-size:18px;cursor: pointer;border:2px solid #222;background:#444;color:orange;position:fixed;top:50px;left:765px;padding:7px 0px;z-index:1;display:none;
     -moz-box-shadow: 0px 0px 7px #222; 
  -webkit-box-shadow: 0px 0px 7px #222; 
          box-shadow: 0px 0px 7px #222; 
}
#viewCorrupt {float:left;margin-top:25px;height:55px;}
#viewCorruptBtn, #viewAllMembersBtn {width:145px;}
.accounting_record {height:50px;border:2px #666 solid;position: relative;overflow: hidden;}
.accounting_record .listView {width:400px;}
.accounting_name {height:20px;font-size:12pt;margin:0px 0px 7px 20px;}
.overduePayment {border:2px red dashed;}
.paymentReminderBtn, .sendingMsg, .sentMsg {position:absolute;top:5px;right:5px;}
.sendingMsg, .sentMsg {display:none;}
.sendingMsg img {width:16px;height:16px;top:3px;}
#refreshBtn:hover {background:orange;color:white;}
.changeStatusBtn {position:absolute;bottom:2px;right:5px;font-size:10pt;padding:3px 7px;cursor: pointer;border:0;background:#222;}
.listView .unpaid {height:25px;top:5px;right:75px;}
.listView .paid {height:25px;top:7px;right:5px;}
.unpaid {color:red;}
.unpaid:hover {background:green;color:white;}
.paid {color:green;}
.paid:hover {background:red;color:white;}
.statusTooltip {display:none;color:white;position:absolute;bottom:3px;left:-100px;z-index:1;width:95px;text-align: right;}
.visTooltip {display: inline;}
.statusChange {border: 2px green solid !important;background:green;}
.statusResponse {width:100%;height:45px;padding-top:22px;text-align:center;font-weight:bold;color:red;background:white;position:absolute;top:0;left:0;display:none;}
.statusChange .statusResponse {color:green;}
.paymentReminderBtn, #viewAllRegionsBtn, .changeStatusBtn, #viewCorruptBtn, #viewAllMembersBtn, #showExpiringMembers {
     -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px; 
     -moz-box-shadow: 0px 0px 2px #222; 
  -webkit-box-shadow: 0px 0px 2px #222; 
          box-shadow: 0px 0px 2px #222; 
}
.paymentReminderBtn, #viewAllRegionsBtn, #viewCorruptBtn, #viewAllMembersBtn, #showExpiringMembers {font-size:10pt;padding:3px 7px;cursor: pointer;border:0;background:#222;color:orange;}
.paymentReminderBtn:hover, #viewAllRegionsBtn:hover, #viewCorruptBtn:hover, #viewAllMembersBtn:hover, #showExpiringMembers:hover {background:white;color:black;}
.outstandingPayment {border:2px dashed red;}

.editIconBtn {width:20px;height:20px;position:absolute;top:3px;left:3px;cursor:pointer;}
.editIconBtn img {width:16px;height:16px;border:0;padding:2px;}
.editIconBtn:hover {background:#444;}


/* !Email Styles */
#emailLists {font-family:Helvetica, Arial, sans-serif;font-size:11pt;padding-bottom:50px;}
#emailLists p {width:90%;}
#showExpiringMembers {float:left;margin-top:12px;padding:5px 12px;}
.totalEmails {font-size:10pt;}

.backListElement a:link, .backListElement a:visited {color:orange;}
.backListElement a:hover {color:yellow;text-decoration: none;}
.listView .backListElement {display:inline;margin-right:20px;}

.gridView {float:left;width:300px;}
.listView {float:none;width:500px;}
#accountingRecords .listView {height:29px;}

.css3Button{background:#e3e3e3;border:1px solid #bbb;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 0 1px 1px #f6f6f6;-moz-box-shadow:inset 0 0 1px 1px #f6f6f6;-ms-box-shadow:inset 0 0 1px 1px #f6f6f6;-o-box-shadow:inset 0 0 1px 1px #f6f6f6;box-shadow:inset 0 0 1px 1px #f6f6f6;color:#333;font:bold 12px "helvetica neue",helvetica,arial,sans-serif;text-align:center;text-shadow:0 1px 0 #fff;}
.css3Button:hover{background:#d9d9d9;-webkit-box-shadow:inset 0 0 1px 1px #eaeaea;-moz-box-shadow:inset 0 0 1px 1px #eaeaea;-ms-box-shadow:inset 0 0 1px 1px #eaeaea;-o-box-shadow:inset 0 0 1px 1px #eaeaea;box-shadow:inset 0 0 1px 1px #eaeaea;color:#222;cursor:pointer;}
.css3Button:active{background:#d0d0d0;-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;-moz-box-shadow:inset 0 0 1px 1px #e3e3e3;-ms-box-shadow:inset 0 0 1px 1px #e3e3e3;-o-box-shadow:inset 0 0 1px 1px #e3e3e3;box-shadow:inset 0 0 1px 1px #e3e3e3;color:#000;}


/* NYSSSWA styles */
div {display: block;}

#membersForm .dropDown_related_addBtn {margin-bottom:12px;}
.yearsEnrolled, .yeasrEnrolled *, #membersForm label {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}
.yearsEnrolled .btn {color:white;background:#666;text-align:center;padding:3px 9px;margin:2px;cursor: pointer;display: inline;}
.yearsEnrolled .btn:hover {color:#666;background:white;}
.yearsEnrolled .subtractBtn {clear:right;}

#search_input {position: absolute;top:9px;right:12px;width:250px;padding:3px 5px;z-index: 9999;
     -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px; 
}
#search_label {position: absolute;right: 280px;}


#membersHeader {position: relative;}
#num_results {position:absolute;right:0px;top:18px;padding-right:20px;font-size:.8em;}

#date_range {float:left;width:470px;padding:12px 12px 0px 12px;}
#date_range h4 {margin: 7px 0px;}
#date_range label, #date_range input {display: inline;}
#date_range label {font-size:.9em;}
#date_range input {width:90px;padding:3px 5px;}
#date_range .error_msg {display:none;font-size:.8em;font-style: italic;color: red;}
.error {color: #B94A48;border: 1px #B94A48 solid;background: #FFEBEB;}

#date_range.excel_date_range {float:none;padding:0;}

/* !Uploadify */
.uploadifyButton {
	background-color: #505050;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 8px 0;
	text-align: center;
	width: 100%;
}
.uploadify:hover .uploadifyButton {
	background-color: #808080;
}
.uploadifyQueueItem {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
