.siteName {float:left;margin-right:10px;padding-right:20px;background:url("arrow.png") right no-repeat;}
.currentTable a, .currentTable a:visited {color:yellow !important;}
.otherTable {overflow:hidden;margin-left:10px;padding:5px;}
.otherTable a, .otherTable a:visited {color: white;text-decoration:none;}
.otherTable a:hover {color: yellow; text-decoration:none;}
#tableList {top:40px;display:none;text-align:left;left:10px;position:absolute;font-size:12pt;background: #535353;padding: 5px 10px 8px 0px;line-height:12px;}
.currentTableTitle {float:left;padding-left:20px;background:url("arrow.png") left no-repeat;}
.navigation {background:url('navbar.png') repeat-x;font-family:Helvetica,sans-serif;font-size:30px;color:#FFF;padding:5px 13px;height:40px;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.backListRecord {display:block;margin-left:15px;width:600px;padding-bottom:15px;}
.backListRecord img {display:inline;height:100px;}
.backListElement {display:block;font-family:Helvetica,sans-serif;font-size:14px;margin-bottom:3px;}
.editBtn {background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:38px;}
.editBtn a, .editBtn a:visited {color:#444444;text-decoration:none;}
.editBtn a:hover {color:#000000;text-decoration:none;}
.deleteBtn {background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:64px;}
.deleteBtn a, .deletBtn a:visited {color:#444444;cursor:pointer;text-decoration:none;}
.deleteBtn a:hover {color:#000000;text-decoration:none;}
.newBtn {background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:64px;}
.newBtn a, .newBtn a:visited {color:#444444;cursor:pointer;text-decoration:none;}
.newBtn a:hover {color:#000000;text-decoration:none;}

.saveNewOpt {cursor:pointer;background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:64px;margin-left:7px;}
.saveNewOpt:hover {color:#000000;text-decoration:none;}

.cancelNewOpt {cursor:pointer;background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:inline;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:64px;margin-left:7px;}
.cancelNewOpt:hover {color:#000000;text-decoration:none;}

.dropDown_related_addBtn {cursor:pointer;background:#D3D3D3 none repeat scroll 0 0;color:#444444;display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:3px 7px 1px;width:100px;text-align:center;}

#goTo {float:left;color:yellow;cursor:pointer;font-weight:bold;padding-right:20px;}

a.deleteYes, a.deleteYes:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteYes:hover {color:#444444;text-decoration:none;}
a.deleteNo, a.deleteNo:visited {color:#FFFF00;cursor:pointer;font-weight:bold;text-decoration:none;}
a.deleteNo:hover {color:#444444;text-decoration:none;}
.deleteConfirmation {background:#808080 none repeat scroll 0 0;color:#FFFFFF;display:none;font-family:Helvetica,sans-serif;font-size:16px;padding:3px 7px 0px;}
.formElement {display:inline;font-family:Helvetica,sans-serif;font-size:10pt;margin-bottom:15px;}
label {display:block;font-family:Helvetica,sans-serif;font-size:16px;font-weight:bold;margin-bottom:4px;margin-top:10px;}
form {padding-left:15px;padding-top:30px;}
.jCropSubmit {cursor:pointer;font-weight:bold;padding-top:5px;}
.previewBox {overflow:hidden;}
.fileUploadThumb {float:left;padding-left:20px;}
.fileUploadCrop {float:left;}

/* XMl Writer Styles */
body {background:#E6E3C3;margin:0px;padding:0px;}
#specsWriteContainer {font-family:Arial,sans-serif;font-size:9pt;width:600px;}
.header {font-size:14pt;font-weight:bold;}
.addButton {background:#A35A28;color:white;font-size:10pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.deleteButton {background:red;color:white;font-size:9pt;font-weight:normal;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.cloneButton {background:#FFD760;color:#A35A28;border:1px solid #A35A28;font-size:9pt;font-weight:bold;text-align:center;padding:1px;cursor: pointer;text-align:center;display:inline-table;user-select:none;-moz-user-select: none;-khtml-user-select:none;}
.collapseBtn {cursor:pointer;font-weight:bold;display:inline;}
#buildMetaBtn {cursor:pointer;padding-bottom:20px;}

#siteName {margin-bottom:10px;}

#addGlobal {color:white;cursor:pointer;margin-top:10px;text-align:center;width:120px;}
.globalVar {margin-bottom:5px;padding-left:15px;}
.reqGlobal {width:155px;display:inline-table;font-weight:bold;}
#globalsContainer {border-bottom:2px solid gray;margin-bottom:10px;padding:10px 0px;}
.deleteGlobalBtn {display:inline;margin-left:5px;color:black;background:none;}
.nameField {width:100px;display:inline;margin-right:7px;font-weight:bold;}

.field {margin:5px 5px 0 15px;padding: 10px 0 10px 25px;}
.newField {color:white;cursor:pointer;margin:7px 0 0 15px;text-align:center;width:110px;display:inline-table;}
.deleteField {margin-top:7px;width:100px;margin-left:307px;}
.cloneField {margin-top:7px;width:100px;}
.fieldCollapse {margin-left:20px;}
.collapseAllFields {width:150px;margin-left:15px;margin-top:8px;display:inline-table;}

.table {border-bottom:2px solid gray;margin-top:10px;padding:6px 3px 15px;width:575px;}
.rowA {background:#9EB5A0 none repeat scroll 0 0;}
.rowB {background:#C2CFC3 none repeat scroll 0 0;}
#newTable {color:white;cursor:pointer;margin-bottom:15px;margin-top:10px;text-align:center;width:120px;}
.cloneTable {margin-top:7px;width:100px;}
.deleteTable {margin-left:348px;margin-top:10px;width:100px;}
.tableCollapse {margin-left:57px;}

.addOption {margin:5px 0 0 15px;width:100px;font-weight:normal;}
.deleteOption {display:inline;margin-left:7px;cursor:pointer;}
.dropDownOption {margin-left:15px;margin-top:3px;}
.optionsContainer {width:300px;}

#linkToXML {font-weight:bold;font-size:18;font-family:Helvetica, sans-serif;margin-left:20px;}
#linkToXML a, #linkToXML a:visited {color:#000;text-decoration: none;}
#linkToXML a:hover {color:#BBB;text-decoration: none;}

.backlist select {margin-left:37px;}
.frontlist select {margin-left:36px;}
.entrymethod select {margin-left:15px;}
.sqldatatype select {margin-left:5px;}
.field select {margin-top:2px;}

.thumbChild {margin-left:10px;margin-top:2px;}
.thumbChild input {margin-right:5px;}

/* Group Item Styles */
.groupItem .saveGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .saveNewGroupItem {cursor:pointer;width:100px;text-align:center;border:solid 1px gray;font-weight:bold;}
.groupItem .deleteGroupItem {cursor:pointer;width:120px;text-align:center;border:solid 1px gray;font-weight:bold;}
